body{
  text-align:center;
  font-family:Open Sans,sans-serif;
  background-color:#212a59;
  color:#ffffff;
}


h2{
  color: #c404ff
}

.titulo-verde{
  color: #04ff9f
}

.titulo-vermelho{
color: #FF9E9E
}

.titulo-amarelo{
  color: #ffe36d
}
