body{
  text-align:center;
  font-family:Open Sans,sans-serif;
  background-color:#212a59;
  color:#ffffff;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 60px;
  color: #c404ff;
}
h3{
font-size: 40px;
  color: #1a228f;
}

.titulo-verde{
  font-size: 22px;
  color: #04ff9f;
}

.titulo-vermelho{
  font-size: 22px;
  color: #FF9E9E;
}

.titulo-amarelo{
  font-size: 22px;
  color: #ffe36d;
}

section{
 background-color: #c404ff;
 max-width: 70%;
 margin: 0 auto;
}

}
